<table border="1">
	<thead>
		<th>Name</th>
		<th>Updated Name Field</th>
	</thead>  
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td>
					<%= book.name %>
				</td>
				<td>
					<%= book.table_updated %>
				</td>
			</tr>
		<%end%>
	</tbody> 
</table>